/* 📖 Make Content Flow Like a Book */
.md-content {
    max-width: 1600px;
    margin: auto;
    padding: 60px 20px;
}
.md-grid {
    max-width: 1600px; 
}

.md-nav {
    max-width: 144px;
}

/* 🛑 Remove Documentation Look */
.md-header, .md-sidebar--secondary {
    display: none !important;
}


/* ✅ Ensure Text Wraps Properly */
.md-typeset {
    white-space: normal !important;
    overflow-wrap: break-word;
    word-break: normal;
}

/* 📜 Add Indents for a Book Feel */
p {
    text-align: justify;
    text-indent: 30px;
}

/* 📌 Center Images */
img {
    display: block;
    margin: auto;
    max-width: 100%;
}

a:hover {
    text-decoration: underline;
}


.chatbox {
    background-color: rgba(0, 0, 0, 0.685);
    border: 2px solid #4A4A4A;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.message {
    margin-bottom: 3px;
    line-height: 1.4;
    font-family: 'Noto Sans Traditional Chinese';
}

.system-message {
    color: #FFD700;
}

.chat-message {
    color: #FFFFFF;
}

.private-message {
    color: #FF69B4;
}

.party-message {
    color: #00FF00;
}

.clan-message {
    color: #00BFFF;
}

.shout-message {
    color: #FF4500;
}

.trade-message {
    color: #FFA500;
}

.alliance-message {
    color: #e9f360de;
}

.timestamp {
    color: #A9A9A9;
    font-size: 10px;
    margin-right: 5px;
}
